<nav class="navbar">
  <div class="logo">
    <a [routerLink]="['/inicio']">
      <img src="/thezone-logo.png" alt="Logo TheZone" class="logo-img" />
    </a>
  </div>
  <ul class="menu">

    <li>
      <a [routerLink]="['/inicio']" routerLinkActive="active" class="nav-link">Inicio</a>
    </li>

    <li>
      <a [routerLink]="['/quienes-somos']" class="nav-link">Quiénes somos</a>
    </li>

    <li>
      <a [routerLink]="['/tienda']" class="nav-link">Tienda</a>
    </li>

    <li>
      <a [routerLink]="['/contacto']" class="nav-link">Contacto</a>
    </li>

  </ul>

  <div class="icons">
    <i class="fa fa-shopping-cart"></i>

    <a [routerLink]="['/login']">
      <i class="fa fa-user"></i>
    </a>

  </div>
</nav>